* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}
.title {
  text-align: center;
  margin-bottom: 40px;
}
p {
  font-size: 1rem;
  line-height: 1.6rem;
}
body > * {
  padding: 20px;
}
main > * {
  margin-top: 80px;
}
.btn-default {
  background-color: dodgerblue;
  border: none;
  border-radius: 10px;
  padding: 10px;
  color: white;
  font-size: 1rem;
}
.hr-secciones {
  width: 40%;
  height: 5px;
  background-color: dodgerblue;
  margin: auto;
  margin-top: 5px;
}
/*------HEADER-------*/
/*desktop menu*/
.menu-desktop {
  display: none;
}
header {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 2;
}
/*menu options*/
header > div {
  display: none;
}
.menu-options {
  /* display: flex; */
  /*Si no cabe el contenido en una linea salta otra linea*/
  flex-wrap: wrap;
  text-align: center;
  margin: auto;
  width: 100%;
}
.menu-options > div {
  flex: 1 0 33%;
  margin: 10px 0px 10px 0px;
}
.menu-options img {
  width: 20px;
}
.menu-options p {
  font-size: 11px;
}
.close-menu {
  position: absolute;
  top: 10px;
  right: 10px;
  color: red;
  font-weight: 900;
}

/*icons menu*/
.menu-icons {
  /* display: flex; */
  justify-content: space-between;
  width: 100%;
}
.menu-right {
  display: flex;
  align-items: center;
}
.menu-logo img {
  width: 50px;
}

.menu-night img {
  width: 25px;
  margin-right: 15px;
}

.menu-btn img {
  width: 30px;
}

.menu-logo {
  flex: 1;
}

/*animation menu toogle*/
.diplayMenu {
  display: flex;
  animation-name: fade;
  animation-duration: 3s;
}

/*-------COVER------*/
span.color {
  color: dodgerblue;
}
.cover-content hr {
  width: 25%;
  margin-left: 0;
  height: 5px;
  background-color: dodgerblue;
}
.cover-content button {
  background-color: dodgerblue;
  border: none;
  border-radius: 10px;
  padding: 10px;
  color: white;
}

.cover-content > * {
  margin-top: 10px;
}
.cover-img {
  width: 100%;
  position: relative;
}
.cover-img img {
  width: 100%;
}
.esfera {
  position: absolute;
  top: 0;
  right: 0;
  width: 80%;
  height: 80%;
  border-radius: 100%;
  background-color: dodgerblue;
  z-index: -1;
}

/*---------ABOUT ME-------*/
.about-img,
.about-img img {
  width: 100%;
}

.about-img img {
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 15px -2px rgba(0, 0, 0, 0.66);
  -moz-box-shadow: 0px 0px 15px -2px rgba(0, 0, 0, 0.66);
  box-shadow: 0px 0px 15px -2px rgba(0, 0, 0, 0.66);
}

.about-content * {
  margin-top: 30px;
}

/*---------HABILIDADES--------*/
.habilidades-content {
  margin-top: 30px;
}
/*Estilos boton accodion*/
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}
/*Crear efecto hover y crear efecto cuando se pulse btn(active)*/
.activeAcc,
.accordion:hover {
  background-color: rgba(30, 143, 255, 0.753);
  color: white;
}

/*Crear elemento after para crear el + del button*/
.accordion:after {
  content: "\002B";
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}
/*Crear elemento - cuando se despliegue el contenido del accordion*/
.activeAcc:after {
  content: "\2212";
}
/*Contenido desplegado*/
.panel {
  background-color: white;
  max-height: 0;
  overflow: hidden;
  /*Tansicion de height cuando añadamos height desde el jacvascript*/
  transition: max-height 0.2s ease-out;
}
.panel p {
  padding: 10px;
}
/*------CUALIFICACION------*/

.color-option {
  color: dodgerblue;
  font-weight: 900;
  transition: color 1s;
}

.cualificacion > * {
  margin-bottom: 50px;
}
.cualificacion-options {
  display: flex;
  justify-content: space-around;
}

.cualificacion-options img {
  width: 40px;
  margin-right: 10px;
}

.cualificacion-options div {
  display: flex;
  align-items: center;
}

/*timeline*/
.cualificacion-timeline {
  position: relative;
}
/*
linea vertical del timeline crea un elemento after
*/
.cualificacion-timeline::after {
  content: "";
  position: absolute;
  left: 5px;
  top: 0;
  width: 5px;
  height: 100%;
  background-color: black;
}

/*contenedor/div que contiene el contenido/texto*/
.container {
  width: 80%;
  background-color: dodgerblue;
  color: white;
  padding: 12px;
  position: relative;
  margin-left: 50px;
  margin-bottom: 40px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 15px -2px rgba(0, 0, 0, 0.66);
  -moz-box-shadow: 0px 0px 15px -2px rgba(0, 0, 0, 0.66);
  box-shadow: 0px 0px 15px -2px rgba(0, 0, 0, 0.66);
}

/*Circulos de la linea vertical timeline*/
.container::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  top: 0;
  left: -58px;
  background-color: dodgerblue;
  z-index: 1;
  border: 4px solid black;
  border-radius: 50%;
}

/*Flechas del container*/
.left::before,
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 10px;
  width: 0;
  z-index: 1;
  left: -10.5px;
  border: medium solid white;
  transform: rotate(180deg);
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent dodgerblue;
}
.cualificacion-timeline {
  display: none;
}

.timelineDisplay {
  display: block;
  animation-name: fade;
  animation-duration: 2s;
}

/*-------PORTFOLIO------*/

.portfolio-slider {
  position: relative;
  margin-top: 15px;
}
.slide {
  display: none;
}
.slide:first-child {
  display: block;
}

.slide-img {
  width: 100%;
}
.slide-img img {
  width: 100%;
}
.slide-content > * {
  margin-top: 10px;
  margin-bottom: 15px;
}
.next,
.prev {
  position: absolute;
  top: 40%;
  font-size: 40px;
  color: dodgerblue;
}

.next {
  right: 0;
}

.portfolio-dots {
  text-align: center;
  width: 100%;
}
.dot {
  height: 15px;
  width: 15px;
  background-color: gray;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active,
.dot:hover {
  background-color: dodgerblue;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 2s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}

/*--------CONTACTO-----------*/
.contact > * {
  margin-bottom: 18px;
}
.contactinfo-content > p:first-child {
  font-weight: 600;
}
.contactinfo-item {
  display: flex;
  align-items: center;
}
.contactinfo-item img {
  width: 28px;
}

.contactinfo-item > * {
  padding: 12px;
}

.contact-form form > * {
  margin-top: 15px;
  border-radius: 5px;
  border: none;
  background-color: #ebebeb;
}
.contact-form input[type="text"],
input[type="email"] {
  width: 100%;
  padding: 12px;
}

input[type="text"]:focus,
input[type="email"]:focus {
  border: 2px solid dodgerblue !important;
  outline: none;
}

.contact-form textarea {
  width: 100%;
  height: 120px;
  padding: 10px;
}

textarea:focus {
  border: 2px solid dodgerblue !important;
  outline: none;
}
.btn-form {
  background-color: transparent !important;
}
.btn-form input[type="button"] {
  padding: 15px 30px 15px 30px;
  border: none;
  background-color: dodgerblue;
  color: white;
  border-radius: 5px;
}

/*----- FOOTER-----*/
footer {
  background-color: dodgerblue;
  color: white;
}
footer p {
  font-size: 15px;
  padding: 5px;
}

/*MEDIA QUERIES LAPTOP*/
@media screen and (min-width: 1000px) {
  body > * {
    padding: 10px 20px 10px 20px;
  }

  /*---------HEADER------------*/
  .header {
    height: 15vh;
  }
  /*icons hidden*/
  .menu-btn,
  .menu-right {
    display: none;
  }
  /*Desktop menu config*/
  .menu-desktop {
    display: flex;
    align-items: center;
  }
  .menu-desktop ul {
    display: flex;
    justify-content: space-between;
  }
  .menu-desktop li {
    list-style: none;
    padding: 10px 25px 10px 25px;
  }
  .menu-desktop a {
    text-decoration: none;
    color: black;
  }
  /*---------------CONFIG--------------------*/
  .cover {
    display: flex;
    margin-top: 0px;
    height: 75vh;
    padding: 30px;
    align-items: center;
  }
  .cover-img {
    order: 1;
    height: 100%;
    width: 100%;
  }
  .cover-img img {
    width: 78%;
    height: 100%;
  }
  .cover-img div {
    width: 60%;
    height: 75%;
    right: 100px;
  }

  /*ABOUT ME*/
  .content-container-about {
    display: flex;
  }
  .about-img {
    flex: 1.5;
    padding: 50px;
  }
  .about-content {
    flex: 2;
    padding: 50px;
  }
  /*AACORDION*/
  .habilidades-content {
    padding: 0px 200px;
  }

  /*TIMELINE*****/
  .cualificacion-timeline::after {
    left: 50%;
  }

  .container {
    width: 30%;
  }

  .container::after {
    right: 0;
    left: unset;
  }

  /* Place the container to the left */
  .left {
    left: 10%;
  }

  /* Place the container to the right */
  .right {
    left: 50%;
  }
  /* Fix the circle for containers on the right side */
  .right::after {
    left: -63px;
  }
  /* Place the container to the left */
  /* .left {
    left: 0%;
  } */
  /* Place the container to the right */
  /* .right {
    left: 50%;
  } */
  /* The actual timeline (the vertical ruler) */
  /* .cualificacion-timeline::after {
    left: 50%;
  }
  .left,
  .right {
    width: 25%;
  }
  .left::after {
    background-color: lawngreen !important;
     position: absolute;
     left: unset;
right: -91%;
  } */
}
