* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}
.cualificacion-bold {
  font-weight: 900;
}
.title {
  text-align: center;
  margin-bottom: 40px;
}
p {
  font-size: 1rem;
  line-height: 1.6rem;
}
body > * {
  padding: 20px;
}
main > * {
  margin-top: 80px;
}
html {
  scroll-behavior: smooth;
}
.btn-default {
  background-color: dodgerblue;
  border: none;
  border-radius: 10px;
  padding: 10px;
  color: white;
  font-size: 1rem;
  transition: all 0.2s linear;
  cursor: pointer;
  position: relative;
}


/*BUTTON DEFAULT*/
.btn-default:hover {
  background-color: black;
  transform: scale(1.1);
  font-weight: 900;
}

.hr-secciones {
  width: 40%;
  height: 5px;
  background-color: dodgerblue;
  margin: auto;
  margin-top: 5px;
}
/*SCROLL TRANSITION EFFECT*/

section {
  opacity: 0;
  transition: all 0.2s linear;
}
.mostrarArriba {
  animation: mostrarArriba 1s;
  opacity: 1;
}

@keyframes mostrarArriba {
  0% {
    transform: translateY(60px);
  }
  100% {
    transform: translateY(0px);
  }
}

/*------HEADER-------*/
/*desktop menu*/
.menu-desktop {
  display: none;
}
header {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 2;
}
/*menu options*/
header > div {
  display: none;
}
.menu-options {
  /* display: flex; */
  /*Si no cabe el contenido en una linea salta otra linea*/
  flex-wrap: wrap;
  text-align: center;
  margin: auto;
  width: 100%;
}
.menu-options a {
  text-decoration: none;
  color: black;
}
.menu-options > div {
  flex: 1 0 33%;
  margin: 10px 0px 10px 0px;
}
.menu-options img {
  width: 20px;
}
.menu-options p {
  font-size: 11px;
}
.close-menu {
  position: absolute;
  top: 10px;
  right: 10px;
  color: red !important;
  font-weight: 900;
}

/*icons menu*/
.menu-icons {
  /* display: flex; */
  justify-content: space-between;
  width: 100%;
}
.menu-right {
  display: flex;
  align-items: center;
}
.menu-logo img {
  width: 50px;
}

.menu-night img {
  width: 25px;
  margin-right: 15px;
}

.menu-btn img {
  width: 30px;
}

.menu-logo {
  flex: 1;
}

:target::before {
  content: "";
  display: block;
  height: 180px;
  margin-top: -185px;
}
/*animation menu toogle*/
.diplayMenu {
  display: flex;
  animation-name: fade;
  animation-duration: 3s;
}

/*-------COVER------*/
.btn-default a{
  text-decoration: none;
  color: white;
}
span.color {
  color: dodgerblue;
}
.cover-content hr {
  width: 25%;
  margin-left: 0;
  height: 5px;
  background-color: dodgerblue;
}
.cover-content button {
  background-color: dodgerblue;
  border: none;
  border-radius: 10px;
  padding: 10px;
  color: white;
}

.cover-content > * {
  margin-top: 10px;
}
.cover-img {
  width: 100%;
  position: relative;
}
.cover-img img {
  width: 100%;
}
.esfera {
  position: absolute;
  top: 0;
  right: 0;
  width: 80%;
  height: 80%;
  border-radius: 100%;
  background-color: dodgerblue;
  z-index: -1;
}

/*---------ABOUT ME-------*/
.about-img,
.about-img img {
  width: 100%;
}

.about-img img {
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 15px -2px rgba(0, 0, 0, 0.66);
  -moz-box-shadow: 0px 0px 15px -2px rgba(0, 0, 0, 0.66);
  box-shadow: 0px 0px 15px -2px rgba(0, 0, 0, 0.66);
}

.about-content * {
  margin-top: 30px;
}

/*---------HABILIDADES--------*/
.habilidades-content {
  margin-top: 30px;
}
/*Estilos boton accodion*/
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}
/*Crear efecto hover y crear efecto cuando se pulse btn(active)*/
.activeAcc,
.accordion:hover {
  background-color: rgba(30, 143, 255, 0.753);
  color: white;
}

/*Crear elemento after para crear el + del button*/
.accordion:after {
  content: "\002B";
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}
/*Crear elemento - cuando se despliegue el contenido del accordion*/
.activeAcc:after {
  content: "\2212";
}
/*Contenido desplegado*/
.panel {
  background-color: white;
  max-height: 0;
  overflow: hidden;
  /*Tansicion de height cuando añadamos height desde el jacvascript*/
  transition: max-height 0.2s ease-out;
}
.panel p {
  padding: 10px;
}
/*------CUALIFICACION------*/

/*cualificacion modal*/
.btn-modal{
  background-color: #eee;
  border: none;
  padding:10px;
  border-radius: 5px;
  margin: 10px 0 10px 0;
  cursor: pointer;
  transition: all 0.2s linear;
}
.btn-modal:hover {
  background-color: black;
  transform: scale(1.1);
  font-weight: 900;
  color:white;
}
.cualificacion-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0; 
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.808);
  z-index: 2;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  transition: all 0.2s linear;
}
.modal-content {
  width: 100%;
  height: 100%;
  margin: auto;
  background: #2b32b2;
  color: white;
  padding: 35px;
  position: relative;
  display: none;
}
.modal-close{
top: 30px;
right: 30px;
position: absolute;
width: 40px;
height: 35px;
border-radius: 80px;
font-weight: 900;
border: none;
background-color: red;
color: white;
cursor: pointer;
}
.modal-header h2{
  color: #ffffffeb;
}
.modal-header p {
  color: #f5f5f5b8;
}
.modal-body p {
  color: #ffffffed;
}
.modal-footer p{
  color:#f5f5f5b8;
}
.modal-footer{
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
  margin-top: 50px;
}

.modal-content > * {
  margin-bottom: 30px;
}

.modal-footer-content{
  flex: 2;
}

.modal-footer-logo{
  flex: 1;
}
.modal-footer-logo img{
  width: 100%;
  height: 100%;
}

#trabajo1 img {
  width: 150px;
}


.color-option {
  color: dodgerblue;
  font-weight: 900;
  transition: color 1s;
}

.cualificacion > * {
  margin-bottom: 50px;
}
.cualificacion-options {
  display: flex;
  justify-content: space-around;
}

.cualificacion-options img {
  width: 40px;
  margin-right: 10px;
}

.cualificacion-options div {
  display: flex;
  align-items: center;
}

/*timeline*/
.cualificacion-timeline {
  position: relative;
}
/*
linea vertical del timeline crea un elemento after
*/
.cualificacion-timeline::after {
  content: "";
  position: absolute;
  left: 5px;
  top: 0;
  width: 5px;
  height: 100%;
  background-color: black;
}

/*contenedor/div que contiene el contenido/texto*/
.container {
  width: 80%;
  background-color: dodgerblue;
  color: white;
  padding: 12px;
  position: relative;
  margin-left: 50px;
  margin-bottom: 40px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 15px -2px rgba(0, 0, 0, 0.66);
  -moz-box-shadow: 0px 0px 15px -2px rgba(0, 0, 0, 0.66);
  box-shadow: 0px 0px 15px -2px rgba(0, 0, 0, 0.66);
}

/*Circulos de la linea vertical timeline*/
.container::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  top: 0;
  left: -58px;
  background-color: dodgerblue;
  z-index: 1;
  border: 4px solid black;
  border-radius: 50%;
}

/*Flechas del container*/
.left::before,
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 10px;
  width: 0;
  z-index: 1;
  left: -10.5px;
  border: medium solid white;
  transform: rotate(180deg);
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent dodgerblue;
}
.cualificacion-timeline {
  display: none;
}

.timelineDisplay {
  display: block;
  animation-name: fade;
  animation-duration: 2s;
}

/*-------PORTFOLIO------*/

.portfolio-slider {
  position: relative;
  margin-top: 15px;
}
.slide {
  display: none;
}
.slide:first-child {
  display: block;
}

.slide-img {
  width: 100%;
}
.slide-img img {
  width: 100%;
}
.slide-content > * {
  margin-top: 10px;
  margin-bottom: 15px;
}
.next,
.prev {
  position: absolute;
  top: 40%;
  font-size: 40px;
  color: dodgerblue;
}

.next {
  right: 0;
}

.portfolio-dots {
  text-align: center;
  width: 100%;
}
.dot {
  height: 15px;
  width: 15px;
  background-color: gray;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active,
.dot:hover {
  background-color: dodgerblue;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 2s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}

/*--------CONTACTO-----------*/
/*Contacto validation*/
.field-form  div {
  display: none!important;
}
/*add class javascript when error*/
/*both diplay ok and error*/
.field-form-err , .field-form-ok{
  position: relative;
  padding: 20px;
  flex-direction: column;
}
.field-form-err .errIcon{
  position: absolute;
  right: 25px;
  height: 15%;
  width: auto;
  top: 40px;
}

.field-form-err .errText{
  position: absolute;
  font-size: 0.7rem;
  bottom: -5px;
  color: #e24c4b;
}

.field-form-err .inputErr{
  border-bottom: 2px solid #e24c4b;
}


/*Add class javascript when input ok*/
.field-form-ok .okIcon{
  position: absolute;
  right: 25px;
  height: 15%;
  width: auto;
  top: 40px;
}
.field-form-ok .inputOk{
  border-bottom: 2px solid green;
}

/*Hide and show error and ok divs depends on circumstances*/
.showForm{
  display: block;
}
.hideForm{
  display: none!important;
}
/****/
.contact-movile {
  display: none;
}
.contact-form-desktop {
  display: none;
}
.contact > * {
  margin-bottom: 18px;
}
.contactinfo-content > p:first-child {
  font-weight: 600;
}
.contactinfo-item {
  display: flex;
  align-items: center;
}
.contactinfo-item img {
  width: 28px;
}

.contactinfo-item > * {
  padding: 12px;
}
.contact-info-desktop {
  display: none;
}

.contact-form form > * {
  margin-top: 15px;
  border-radius: 5px;
  border: none;
  background-color: #ebebeb;
}
.contact-form input[type="text"],
input[type="email"] {
  width: 100%;
  padding: 12px;
}

.contact-form input:invalid {
  border: #e24c4b 1px solid;
  background-color: #e24b4b59;
}

input[type="text"]:focus,
input[type="email"]:focus {
  border: 2px solid dodgerblue !important;
  outline: none;
}

.contact-form textarea {
  width: 100%;
  height: 120px;
  padding: 10px;
}

textarea:focus {
  border: 2px solid dodgerblue !important;
  outline: none;
}
.btn-form {
  background-color: transparent !important;
}
.btn-form input[type="button"] {
  padding: 15px 30px 15px 30px;
  border: none;
  background-color: dodgerblue;
  color: white;
  border-radius: 5px;
}

/*----- FOOTER-----*/
footer {
  background-color: dodgerblue;
  color: white;
}
footer p {
  font-size: 15px;
  padding: 5px;
}

/*****RETURN********/
.return-home {
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 20px;
}
.return-home a {
  padding: 0;
  width: 100%;
  height: 100%;
}

.return-home img {
  width: 3rem;
  height: 3rem;
  background-color: black;
  padding: 8px;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}
.return-home img:hover {
  background-color: rgb(6, 67, 128);
  transform: scale(1.1);
}

/*****************MEDIA QUERIES LAPTOP*******************/
@media screen and (min-width: 970px) {
  /*ALL*/
  .hr-secciones {
    width: 20%;
    height: 5px;
  }
  main > * {
    margin: 100px 120px 100px 120px;
  }
  body > * {
    padding: 20px 80px 20px 80px;
    margin: auto;
  }
  h1 {
    font-size: 2.2rem;
  }
  h2 {
    font-size: 1.8rem;
  }
  h3 {
    font-size: 1.4rem;
  }
  p {
    font-size: 1.1rem;
    line-height: 1.9rem;
  }
  /*---------HEADER------------*/

  /*Link effect efecto de width cuando pasamos por encima del link : al principio esta a 0% cuando hover transicion de 100%*/
  .link-effect-desktop::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: dodgerblue;
    transition: width 0.3s;
  }

  .link-effect-desktop:hover::after {
    width: 100%;
    /*transition: width .3s;*/
  }

  .header {
    height: 15vh;
  }
  /*icons hidden*/
  .menu-btn,
  .menu-right {
    display: none;
  }
  /*Desktop menu config*/
  .menu-desktop {
    display: flex;
    align-items: center;
  }
  .menu-desktop ul {
    display: flex;
    justify-content: space-between;
  }
  .menu-desktop li {
    list-style: none;
    padding: 10px 25px 10px 25px;
    font-size: larger;
  }
  .menu-desktop a {
    text-decoration: none;
    color: black;
  }
  .menu-logo img {
    width: 70px;
  }
  /*---------------COVER--------------------*/
  .cover-content {
    padding: 20px;
  }
  .cover {
    display: flex;
    margin-top: 0px;
    height: 75vh;
    padding: 30px;
    align-items: center;
  }
  .cover-img {
    order: 1;
    height: 100%;
    width: 100%;
    text-align: end;
  }
  .cover-img img {
    width: 100%;
    max-width: 583px;
    height: auto;
    min-width: 300px;
  }
  .cover-img div {
    width: 60%;
    height: 75%;
    right: 100px;
  }

  /*ABOUT ME*/

  .content-container-about {
    display: flex;
  }
  .about-img {
    flex: 1.5;
    padding: 50px;
  }
  .about-content {
    flex: 2;
    padding: 20px;
  }
  /***************AACORDION CUALIFICACION****************/
  .habilidades-content {
    padding: 0px 200px;
  }
  .cualificacion-options {
    justify-content: center;
  }
  .cualificacion-options div {
    margin: 0px 30px 0px 30px;
    cursor: pointer;
  }
  .accordion {
    font-size: 1.2rem;
  }
  /*TIMELINE*****/
  .timelineDisplay {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
  }
  .cualificacion-timeline::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }

  /* Container around content */
  .container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
    margin-left: 0;
    box-shadow: unset;
    border-radius: unset;
  }

  /* The circles on the timeline */
  .container::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    right: -16px;
    background-color: dodgerblue;
    border: 4px solid #093d70;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
    left: unset;
  }

  /* Place the container to the left */
  .left {
    left: 0;
  }

  /* Place the container to the right */
  .right {
    left: 50%;
  }

  /* Add arrows to the left container (pointing right) */
  .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent dodgerblue;
    left: unset;
    transform: unset;
  }

  /* Add arrows to the right container (pointing left) */
  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 31px;
  }

  /* Fix the circle for containers on the right side */
  .right::after {
    left: -16px;
  }

  /* The actual content */
  .content {
    padding: 20px 30px;
    background-color: dodgerblue;
    position: relative;
    border-radius: 6px;
    color: white;
  }
  /*PORTFOLIO*/
  .slide-movile {
    display: flex;
    align-items: center;
    background-color: aliceblue;
    border-radius: 10px;
    box-shadow: 0px 0px 32px -14px rgba(0, 0, 0, 0.75);
    padding: 25px;
  }
  .slide-content {
    margin-left: 35px;
  }
  .portfolio-slider {
    padding: 50px 100px;
  }
  .prev {
    left: 0;
  }
  .next,
  .prev,
  .dot {
    cursor: pointer;
  }

  /*CONTACT DESKTOP*/
  .modal-content {
    width: 50%;
    height: auto;
    margin: auto;
    background: #2b32b2;
    color: white;
    padding: 35px;
    border-radius: 10px;
    position: relative;
    display: none;
    scroll-behavior: auto;
  }
  .contact-form-desktop {
    display: flex;
  }
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="number"]:focus,
  textarea:focus {
    border: 0px solid !important;
    border-bottom: 2px solid dodgerblue !important;
  }
  .contact-movile {
    display: block;
    padding: 0px;
    margin-bottom: 22px;
  }
  .content-contact-v2 {
    display: flex;
    padding: 50px 250px;
    justify-content: center;
  }
  .contact-form {
    width: 60%;
  }
  .contact-contactinfo {
    background-color: dodgerblue;
    color: white;
    padding: 50px;
    margin-right: 50px;
    position: relative;
  }

  .contact-form {
    display: none;
  }

  input[type="email"] {
    width: unset;
    padding: unset;
  }
  .contact-form-desktop div {
    display: flex;
  }

  .field-form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    
  }

  .third-row-form,
  .fourth-row-form {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }

  .contact-form-desktop input,
  textarea {
    border: none;
    border-bottom: 1px solid;
  }

  .contact-info-desktop {
    display: flex;
  }

  .contact-info-desktop img {
    width: 2.5rem;
  }
  .contact-info-mobile {
    display: none;
  }
  .contactinfo-item {
    margin-bottom: 12px;
  }
  .contact-form-desktop form {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
  }
  .contact-form-desktop form div input {
    outline: none !important;
  }

  /******FOOTER DESKTOP*********/
  footer {
    text-align: center;
  }
}

@media screen and (min-width: 1800px) {
  main > * {
    margin: 100px 170px 100px 170px;
  }
}
